body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/418/429/large_2x/earthy-color-elegant-and-soft-abstract-artistic-background-soft-and-stylish-feminine-neutral-texture-free-photo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
