@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homeindex.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Welcome to Anna's Bookstore</h1>
</div>
    